
<div class="app-component">
  <h1>Welcome to Angular Base Service</h1>
  <p>To illustrate the base.service we will interact with the data in the First Component, and then see it's changes in the Second</p>
  <ul>
    <li>Interact with the data in the First Component</li>
    <li>See the data's length in the Second Component</li>
    <li>View the full data details in the Third Component</li>
  </ul>
  <p>And everything will magically stay in sync!</p>
</div>
<first-component></first-component>
<second-component></second-component>
<third-component></third-component>
